<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/base.css' />
    <script src="/js/index.js"></script>
  </head>
  <body>
    <input type="file" multiple="multiple"/>
    <button>Upload</button>
  </body>
</html>
